
*Part 1: Introduction to Python Syntax and Semantics I*
# Python Basics: Built-in object types and operators#

## Getting started

There are different ways of running Python code:


*   **From the command line** (Python command line, but also Anaconda Prompt, Windows Power Shell etc.): This is usually not very convenient, but may make sense if you want to run a script in the background, if you don't have a graphical user interface (e.g. when working on a cloud server) or if you want to parallelize your processes.
*   **With a text editor** such as PyCharm, Spyder etc.: This is usually the best choice if you want to do a project. It looks very similar to the interface you may know from Stata or RStudio. The editor allows you to write and save your code, provides useful syntax highlighting, and allows you to execute (parts of) your script in an integrated Python Console. More sophisticated text editors are also called *Integrated Programming Environments (IDE)*.
*   **With Jupyter Notebook** in your browser: This is convenient for short exercises or when you wish to explore a dataset (e.g. plot or print many results). If you open your notebooks with Google Colaboratory (Colab), you can run them without a Python installation on your computer. You can also open them with Jupyter Notebook or Jupyter Lab and run them on a local Python installation on your computer.

---

>  <font color='teal'> **In-class exercise**:
>
>  <font color='teal'> 1.) If you work on Colab, save a copy of this tutorial file to your Google Drive. If you work with local Python installation, download this tutorial to your computer and open it with Jupyter notebook.
>
>  <font color='teal'> 2.) Add a code cell that computes 1+1 and a Markdown cell with some text.
>
>  <font color='teal'> 3.) Run the code cell.



---

## Getting help

In this class I will not be able  to cover all aspects of Python. If you want more details, you can consult, for example, the **Python Standard Library Reference** at https://docs.python.org/3/library/ or the **Language Reference** at https://docs.python.org/3/reference/. But be warned: the amount of detail in these sources can be overwhelming. For **quick and easy-to-understand overviews** of different topics see, for example, https://www.w3schools.com/python/.

If you get stuck or don't remember how to do something, it is usually a good idea to **Google** your problem or talking to **ChatGPT**. Python has a large (and fast-growing) community and you will probably find answers to most of your questions online (e.g. on **Stack Overflow** or in a **Youtube tutorial**).

## The Python Syntax

Compared to many other programming languages, the Python syntax is **relatively easy to understand** and write. Consider for example the following code. Can you guess what the output will be?

*To run the code and see the result, you can click the play icon that appears when you hover the mouse cursor over the code.*

In [1]:
# Define list of names
names = ["Mary", "Tim", "Sarah"]

# Check if name is Sarah
for name in names:
    if name == "Sarah":
        print("This is Sarah!")
    else:
        print("This is not Sarah.")

This is not Sarah.
This is not Sarah.
This is Sarah!

Let's take a look at the main syntactical features.

### Comments

The code example above starts with a comment. Comments are made by using a ``#``:

In [ ]:
# This is a comment
5+2  # Comments can also be written behind commands

### Statements

The second line in the code example, i.e. ``names = ["Mary", "Tim", "Sarah"]``, is a statement. It assigns the list ``["Mary", "Tim", "Sarah"]`` to the variable ``names``. In Python, a **line break usually terminates a statement**:

In [ ]:
x = 3*4   # This statement terminates after the end of the line
print(x)  # This is a new statement

You can also use ``;`` to terminate a statement (so that you can have multiple statements on the same line), but this is not used very often as it makes the code less readable:

In [ ]:
x = 3*4; print(x)

A line break does not always terminate a statement (e.g., if it is obvious to the interpreter that the statement is not complete yet). For example, you can use parentheses to specify a **multi-line statement**:

In [ ]:
y = (3
     * 4
     + 5)   # Line breaks will be ignored until the open parentheses are closed

print(y)

This also works for other types of parentheses such as square brackets ``[]`` or curly braces ``{}`` that are used in some contexts (see Lists and Dictionaries below).

You can also make multi-line statements using ``\`` at the end of the line (``\`` will "escape" the line break):

In [ ]:
y = 3   \
    * 4 \
    + 5     # You can use \ to make a multi-line statement

print(y)

### Code blocks

The code after the comment ``# Check if name is Sarah`` is a bit more complicated. It tells Python to loop through the list of names and check if the name is Sarah. If this is the case, it prints "This is Sarah!"; if not, it prints "This is not Sarah!".

You may have noticed that we have **different levels of indentation**:

In [ ]:
for name in ["Mary", "Tim", "Sarah"]:   # Indentation level 0
  if name == "Sarah":                   # Indentation level 1
    print("This is Sarah!")             # Indentation level 2
  else:                                 # Indentation level 1
    print("This is not Sarah.")         # Indentation level 2

In Python, we **use indentation (whitespace) to organize code blocks** (this is an important difference to most other programming languages that typically use curly braces ``{}`` for this purpose). A new block of code starts when the indentation increases and continues until the last line before the indentation returns to the previous level. To create nested code blocks (i.e. code blocks within code blocks), simply further increase the indentation.

How many spaces you use for indentation (just 1, or 2 as above; many people use 4) does not matter, but you have to be consistent (all lines belonging to a specific level need to have the same indentation).

*We will revisit the concept of code blocks later when we will start to write more complex code.*

## Objects and Variables

The main building blocks of the Python programming languages are variables and objects.

**Use the equal sign (``=``) to assign a value (or rather: an object) to a variable**:

In [ ]:
my_var = 6  # This assigns the value 6 to the variable my_var
print(my_var)  # This prints the value 6

MY_VAR = 5  # Variable names are case sensitive. MY_VAR and my_var are
            # different variables!
print(MY_VAR)

**What is the difference between variables and objects?**

In essence, **objects are "things" we can have in computer memory** (such as an integer number, e.g. ``5``), and variables are "names" that we use to point to these things. Think of the computer storing an object at a specific address in memory; the variable then contains this address. This is why we say that **variables are pointers**: they *point* to an object.

><font color = 4e1585>SIDENOTE: This means that multiple variables can point to the same object (this can be confusing, but it can also be extremely useful; also see the section on mutable and immutable object at the end of this tutorial). It also means that an object ceases to exist if there is no variable left that points to it (the object is "forgotten", and the memory occupied by the object is freed). In low-level programming languages such at C it is the programmer's responsibility to free the memory; one of the great advantages of a language like Python is that such "garbage collection" is done automatically, albeit at the cost of computer speed.
>
><font color = 4e1585>The fact that variables are pointers is a specific feature of Python. Most other programming languages do not make such a distinction between variables and objects (although they usually do support pointers as a special type of object).
>
><font color = 4e1585>You can use the ``id()`` function to obtain the address of the object a variable points to; see, e.g., https://www.w3schools.com/python/ref_func_id.asp.

**Variables can point to different types of objects**:

In [2]:
my_var = 6                    # an integer
my_var = "This is a string"   # a string
my_var = [3, 5, 7]            # a list
my_var = print                # a function

You can use the ``type()`` function to find out what type of object a variable points to:

In [ ]:
my_var2 = "Hello world"
print(type(my_var2))  # my_var2 now points to an object of type "str" (string)

Unlike many other languages, there is no need for explicit declaration of object types in Python.

---

>  <font color='teal'> **In-class exercise**:
Assign the value ``5`` to a variable named ``x``. Then, print the content and the type of the variable  ``x``.

In [ ]:
# Define x
x = 5

# Print content of x
# (Hint: use the print function we used in several examples above!)
print(x)

# Print type of x
type(x)

5

int



---

## Simple Object Types

Python has several built-in object types. Some are **simple values** while others are more complex and called **data structures**.  Let us first take a look at the different types of simple values:


| Name | Abbreviation | Example |
| :- | -: | :-: |
| Integer | ``int`` | ``5``
| Floating-point number | ``float`` | ``2.34``
| String | ``str`` | ``"Hello"``
| Boolean | ``bool`` | ``True``
| None Type | ``NoneType`` | ``None``
| Complex number (not covered) | ``complex`` | ``2+3j``



But how do these types work more in detail?

###Integers

Integers are **"whole" numbers** (i.e. numbers without decimal points):

In [ ]:
x = 5
type(x)

### Floats

Floats are **numbers with decimal points**:

In [ ]:
y = 4.3
type(y)

Integers and floats can easily be combined:

In [ ]:
print(x+y)  # x is an integer and y a float; the result is a float
print(6/2)  # Divisions automatically result in a float
3.0 == 3    # Python treats/recognizes a float that is equal to an integer as
            # the same value

### Strings

Strings are **ordered sequences of characters** (i.e. text). They are defined by using either single our double quotes:

In [ ]:
my_string = "Hello, I'm a string!"  # Strings need to be put in quotes;
                                    # either double quotes ...
my_string2 = 'Me too'               # ... or single quotes!
my_string3 = "3"       # You can also have numbers in string format.
"3" == 3               # But they are then treated as text, not as a number!

False

In [ ]:
type(my_string)

str

You can convert (numeric) strings to numbers using the ``int()`` or the ``float()`` function:

In [ ]:
int(my_string3)

3

In [ ]:
float(my_string3)

3.0

Likewise, if you want to convert a number to a string, you can use the ``str()`` function:

In [ ]:
str(5.7)  # convert the float 5.7 to a string

'5.7'

Strings can easily be concatenated using the ``+`` operator:

In [ ]:
"hello" + " world"  # Concatenate two strings

Strings that have **multiple lines** can be defined using a triple-quote syntax:

In [ ]:
mystr = """This is line 1
This is line 2
This is line 3"""

print(mystr)

This is equivalent to adding line breaks using token ``\n``:

In [ ]:
mystr = "This is line 1\nThis is line 2\nThis is line 3"
print(mystr)

(Should you ever want ``\n`` to be interpreted as character ``\`` followed by character ``n`` and not as a line break, type ``\\n``.)

### Booleans

Booleans hold ``True`` or ``False`` values:

In [ ]:
a = True
type(a)

Booleans are returned as the **result of logical operations**:

In [ ]:
1 > 2  # This returns False (as 1 is not larger than 2)

False

``True`` corresponds to the value 1 and ``False`` to the value 0:

In [ ]:
print(True + True)
print(True * False)

2
0

### NoneType

The ``NoneType`` is used to represent the absence of value (void).

In [ ]:
x = None
type(x)

*You will often encounter it as the return value of functions that do not return anything. For now, it is enough to know that it exists!*

---

>  <font color='teal'> **In-class exercise**:
Perform the operations mentioned in the comments.

In [ ]:
# Assign the number 10 to a variable called my_number
my_number = 10

# Look up the object type of the variable my_number
type(my_number)

# Create a variable called my_string containing the string
# "My favorite number is "
my_string = "My favorite number is "

# Convert my_number to a string
# (don't forget to re-assign the result to my_number!)


# Concatenate the two variables to get the string "My favorite number is 10"
my_string + str(my_number)

'My favorite number is 10'



---

## Operators

Before we continue with the more complex built-in object types (e.g. data structures), we will take a look at the most important **operators**.  We can distinguish between different types of operators:
* Arithmetic Operators
* Assignment Operators
* Comparison Operators
* Logical, Identity and Membership Operators

### Arithmetic Operators

Important arithmetic operators include the following:

| Name | Operator | Example |
| :- | -: | :-: |
| Addition | ``+`` | ``x + y``
| Subtraction | ``-`` | ``x - y``
| Multiplication | ``*`` | ``x * y``
| Division | ``/`` | ``x / y``
| Exponentiation | ``**`` | ``x ** y``

You can use Python as a **calculator to perform arithmetic operations**:

In [ ]:
(5 * 3 + 7)**3 - 1 / 5

You can also perform these operations on variables:

In [ ]:
x = 5
y = 3
(x * y + 7)**y - 1 / x

><font color = 4e1585> SIDENOTE: The *math* module provides more complex mathematical functions: https://docs.python.org/3/library/math.html. To use these function, you first need to import the *math* module:
> ```
import math
math.log(3)
```

### Assignment Operators

We already got to know the most important assigment operator when we **assigned values to a variable using the ``=`` sign**.

In [ ]:
x = "hello"  # Assigns the string "hello" to the variable x
print(x)

Moreover, there is a so-called **augmented operator** corresponding to each arithmetic operator.

In [ ]:
a = 5
a = a + 2  # instead of this, you can write...
a += 2
print(a)

9

In [ ]:
a -= 3   # Corresponds to: a = a - 3
a *= 4   # Corresponds to: a = a * 4
a /= 10  # Corresponds to: a = a / 10
a **= 2  # Corresponds to: a = a ** 2

### Comparison Operators

Comparison operators **compare two values and return Boolean values**, i.e. ``True`` or ``False``. For example:

In [ ]:
a = 5
b = 7
print(a == b)   # a equal to b? (accidentally typing "=" instead of "==" is
                # probably one of the most frequent programming errors)
print(a > b)    # a greater than b?
print(a <= 5)   # a less than or equal to 5?
print(a != b)   # a not equal to b?

### Logical, Identity and Membership Operators

We can also **check if two objects are the same using the ``is`` (or the ``is not``) operator**:

In [ ]:
x = 150214
y = 150214
print(x == y)
print(x is y)  # x and y are different objects (i.e. they point to different
               # places in memory), but the two objects contain the same value

True
False

In [ ]:
x = 150214
y = x
print(x is y)       # Now x and y point to the same object
print(x is not y)   # This checks whether x and y are NOT identical

True

Similarly, we can **find out if an object is a member of another object** using the ``in`` (or the ``not in``) operator.

In [ ]:
print("H" in "Hello")       # checks if the letter "H" is in the string "Hello"
print("Good" in "Morning")
print("w" not in "World")   # the comparison is case sensitive

This is particularly useful for more complex data structures such as lists or dictionaries (i.e. objects that contain other objects). We will cover them in the next section.

Finally, we can also work with the **logical operators**, i.e. ``and`` and ``or``:

In [ ]:
print(1 < 2 and 6 == 6)  # Returns True if both expressions are true
print(1 > 2 or 7 != 8)  # Returns True if at least one of the expressions is true

---

>  <font color='teal'> **In-class exercise**: Operators
>
>  <font color='teal'> Perform the operations described in the comments!

In [ ]:
# Assign the value 3 to a variable named x and 5.9 to a variable named y
x = 3
y = 5.9

# Print the result of the following operation: x*(y+3)^2
print(x*(y+3)**2)

# Check if y is greater than or equal to x + 3
y > x+3

237.63000000000002

False



---

## Data Structures

In the penultimate section we looked at simple object types such as numbers (integers or floats), strings, or Booleans. These **objects can be organized into more complex data structures**. Python has the following built-in data structures:

*Data structures:*

| Name | Abbreviation | Example |
| :- | -: | :-: |
| List | ``list`` | ``[0,2,3]``
| Dictionnary | ``dict`` | ``{1:"apple", 2:"orange"}``
| Set | ``set`` | ``{"apple", "orange"}``
| Tuple | ``tuple`` | ``(0,2,3)``

Let us take a closer look at each of them! Lists and Dictionaries are the most common types.

### Lists

**Lists are ordered sequences of elements**:

In [ ]:
a = [1, 2, 3, 4, 5]
print(a)

[1, 2, 3, 4, 5]

Python knows that this is a list because we used square brackets ``[]``.

Importantly, note that the **elements in a list can be of different type** (and that lists can be nested, i.e. a list can contain lists):

In [ ]:
b = ["apple", 4, True, 7.6, [1, 2, 3]]
print(b)

['apple', 4, True, 7.6, [1, 2, 3]]

####Indexing and Slicing

We can **access an element within a list** by typing a position in square brackets. This is called **indexing**.

In [ ]:
letters = ["a", "b", "c", "d", "e"]
letters[1]  # Get element with index 1 from the list of letters

'b'

But why was the letter "b" returned and not the first letter (i.e. "a") in the list?

<font color='red'>*IMPORTANT: Python uses 0-based indices! This means that it starts counting at 0 (rather than 1).*

<font color='red'>Hence, letters[1] returns the second rather than the first element of the list.</font>

In [ ]:
print(letters[0])  # This returns the first element

a

Furthermore, we can use negative indices to refer to elements from the end (``-1`` is the last element):

In [ ]:
print(letters[-1])  # This returns the last element

e

You can use the same syntax to *change an element in the list*:

In [ ]:
letters[0] = "A"
print(letters)

['A', 'b', 'c', 'd', 'e']

We can also **extract a sequence of values** (i.e. a sub-list). This is called **slicing**:

In [ ]:
letters[0:2]

['A', 'b']

<font color='red'>*IMPORTANT: The element at the end of the "slice" is NOT included.*

<font color='red'>Hence, this code returns the letters at indices 0 and 1, but not the one at index 2!

If we want to slice from the beginning or until the end of the list, we can omit the respective indices:

In [ ]:
a = [1, 2, 3, 4, 5]
print(a[:3])   # If the first index is 0, it can be omitted
print(a[-3:])  # If we do not write the last index,
               # the slice goes to the end of the list

[1, 2, 3]
[3, 4, 5]

We can also define a step size:

In [ ]:
print(a[::2])   # This takes every second element in the list
print(a[::-1])  # If we take a negative step size,
                # a reversed list (or sublist) is returned
print(a[::-2])  # Every second element from the end
c = [1, 2, 3, 4, 5, 6, 7, 8]
print(c[2::2])  # Every second element starting at position 2 (third element)

[1, 3, 5]
[5, 4, 3, 2, 1]
[5, 3, 1]
[3, 5, 7]



><font color = 4e1585> SIDENOTE: Indexing and slicing can also be done with strings! For example, ``"Hello"[0]`` will return ``"H"``.

####List operations and functions

Lists can easily be concatenated using the ``+`` operator:

In [ ]:
L1 = [1, 2, 3]
L2 = ["apple", "banana"]
L3 = L1 + L2
L3

[1, 2, 3, 'apple', 'banana']

You can use the ``append()`` method to add an element to the list:

In [ ]:
L1.append(4)
print(L1)  # This modified the original list
           # (you do not have to assign it again)!

[1, 2, 3, 4]

Similarly, you can remove elements from a list with the ``remove()`` method:

In [ ]:
L1.remove(2)
print(L1)  # This modified the original list
           # (you do not have to assign it again)!

[1, 3, 4]

(Naturally, removing an element from the list will update the indices of the other elements.)

Yo can also ``sort()`` the elements of the list:

In [ ]:
L = [6, 3, 1, 0, 10]
L.sort()
L   # This modified the original list (you do not have to assign it again)!

[0, 1, 3, 6, 10]

To get the length of a list (number of elements in the list), you can use the ``len()`` function:

In [ ]:
len(L)

5

---

>  <font color='teal'> **In-class exercise**: Lists
>
>  <font color='teal'> Perform the operations described in the comments!

In [ ]:
# Create the list A containing the elements 0, 5, 3, 1, 9, 5 (in this order)
A = [0, 5, 3, 1, 9, 5]

# Sort the list
A.sort()
print(A)

# Print the third element of the list
print(A[2])

# Create a new list B containing the first 4 elements of list A and print it out
B = A[:4]
B

[0, 1, 3, 5, 5, 9]
3

[0, 1, 3, 5]



---

###Dictionaries

Dictionaries  are key:value pairs:

In [ ]:
my_dict = {"name": "Anne",
           "age": 20,
           "occupation": "student"}   # Use line breaks within parentheses
                                      # to make your code more readable
print(my_dict)

{'name': 'Anne', 'age': 20, 'occupation': 'student'}

Every dictionary has the following structure: ``{key1: value1, key2: value2, key3: value3 ...}``. While square brackets ``[]`` are used to define lists, dictionaries are defined **using curly braces ``{}``**.

Unlike lists, **dictionaries are unordered**. Hence, indexing (or slicing) based on the position in the dictionary is not possible. To retrieve a value from the dictionary, you need to **use its key**:

In [ ]:
my_dict["age"]

20

It is easy to **add an additional key:value pair** to the dictionary:

In [ ]:
my_dict["hobbies"] = ["parachuting", "ice climbing"]  # Values can also be lists,
                                                      # other dictionaries etc.
my_dict

{'name': 'Anne',
 'age': 20,
 'occupation': 'student',
 'hobbies': ['parachuting', 'ice climbing']}

You can use the same syntax to change an existing value:

In [ ]:
my_dict["age"] = 21
my_dict

{'name': 'Anne',
 'age': 21,
 'occupation': 'student',
 'hobbies': ['parachuting', 'ice climbing']}

Keys do not necessarily have to be strings:

In [ ]:
my_dict[123] = "no idea what this key is good for"
my_dict

{'name': 'Anne',
 'age': 21,
 'occupation': 'student',
 'hobbies': ['parachuting', 'ice climbing'],
 123: 'no idea what this key is good for'}

---

>  <font color='teal'> **In-class exercise**: Dictionaries
>
>  <font color='teal'>

In [9]:
# Create a dictionary called legs with the number of legs for each animal:
# bear = 4, spider = 6, kangaroo = 2
legs = {"bear": 4, "spider": 6, "kangaroo": 2}

# You made a mistake with the spider. Change the number of legs to 8.
legs["spider"] = 8

# Add the fish (0 legs) and print the resulting dictionary
legs["fish"] = 0

print(legs)

# Print out the value for the bear
print(legs["bear"])

{'bear': 4, 'spider': 8, 'kangaroo': 2, 'fish': 0}
4

### Sets

Sets are **unordered collections of items**:

In [ ]:
swiss_fruits = {"apple", "pear", "apricot", "grape"}
swiss_fruits

{'apple', 'apricot', 'grape', 'pear'}

Like dictionaries, sets are defined using curly braces ``{}``, but there are no keys. Furthermore, **in a set each value occurs only once**. This can be very useful when you want to obtain all unique values from a list:

In [ ]:
my_list = [0, 2, True, 0, 0, 2, "hello", 3, "hello", 8, True]
set(my_list)  # convert to set using the set() function

{0, 2, 3, 8, True, 'hello'}



We can perform mathematical set operations such as union ``|``, intersection ``&``, or difference ``-``:

In [ ]:
tasty_fruits = {"mango", "apple", "papaya", "banana"}

In [ ]:
print(tasty_fruits | swiss_fruits)    # union (all fruits)
print(tasty_fruits & swiss_fruits)    # intersection (fruits that are both Swiss and tasty)
print(tasty_fruits - swiss_fruits)    # difference (tasty fruits that are not Swiss)

{'banana', 'mango', 'apple', 'grape', 'pear', 'papaya', 'apricot'}
{'apple'}
{'papaya', 'mango', 'banana'}

Set operators are also available as methods:

In [ ]:
print(tasty_fruits.union(swiss_fruits))
print(tasty_fruits.intersection(swiss_fruits))
print(tasty_fruits.difference(swiss_fruits))

{'banana', 'mango', 'apple', 'grape', 'pear', 'papaya', 'apricot'}
{'apple'}
{'papaya', 'mango', 'banana'}

### Tuples

Tuples are similar to lists, but they are created using parentheses ``()`` instead of square brackets:

In [ ]:
this_tuple = (1, 3, 1, "hello")
this_tuple[0]  # Access elements with index

1

In fact, the parentheses can also be omitted:

In [ ]:
this_tuple = 1, 3, 1, "hello"
print(this_tuple)

(1, 3, 1, 'hello')

The key difference between lists and tuples is that tuples are **immutable**. This means that they cannot be changed once they have been created:

In [ ]:
this_tuple[3] = "bye"  # This does not work!
this_tuple.append("further element")  # This does not work!
this_tuple = (1, 3, 1, "bye")  # This works, but it creates a new object

TypeError: 'tuple' object does not support item assignment

We will not use tuples very often, but it is useful to know that they exist!

Methods or functions that have multiple return values often return the results as a tuple:

In [ ]:
x = 0.125
x.as_integer_ratio()

(1, 8)

You can directly assign the return values to different variables as follows:

In [ ]:
num, denom = x.as_integer_ratio()  # Instead of: num = x.as_integer_ratio()[0];
                                   # denom = x.as_integer_ratio()[1]
print(num)
print(denom)

1
8

## Conversion between Data Types

Python **automatically infers the data type** based on what you type:

In [ ]:
x = 3
print(type(x))

x = 3.0
print(type(x))

x = "3"
print(type(x))

x = ["3"]
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

You can easily make **conversions between different data types**. This is also called *typecasting*. Use the following functions:

In [ ]:
print(int("7"))           # Creates an integer
print(float(3))           # Creates a float
print(str([2, 4, 6]))     # Creates a string
print(list("Hello"))      # Creates a list
print(set([0, 2, 0]))     # Creates a set
print(tuple([0, 2, 0]))   # Creates a tuple

7
3.0
[2, 4, 6]
['H', 'e', 'l', 'l', 'o']
{0, 2}
(0, 2, 0)

Of course, you can't make any kind of conversion. For example, if you type ``int("hello")`` or ``int([1 , 3 , 4])``, you will get an error.

## Mutable and Immutable Objects in Python

Python objects can be either *mutable* or *immutable*. While **mutable objects can be changed after they are created, immutable objects can't**. All simple data types (``int``, ``float``, ``str``...) and tuples are immutable. Lists, sets, dictionaries – as well as arrays and dataframes (will be covered later) – are mutable.

---
>  <font color='teal'> **Quiz**: What is the difference between the following two code blocks?

In [ ]:
# 1.)
mylist = [1, 2, 3]
mylist.append(4)
mylist

[1, 2, 3, 4]

In [ ]:
# 2.)
mylist = [1, 2, 3]
mylist = mylist + [4]
mylist

[1, 2, 3, 4]

---

This is an important distinction because mutable objects exhibit a behavior that can appear confusing:

In [18]:
L1 = [1, 2, 3]  # Create a list L1
L2 = L1         # Create a second list L2
L1.append(4)    # Append an element to L1
print(L1)       # L1 has now 4 elements...
print(L2)       # ... but so does L2!!

[1, 2, 3, 4]
[1, 2, 3, 4]

Why does this happen?


As already mentioned, variables in Python are **pointers**. In this example, we define variable L1 that points to a memory address containing list object ``[1, 2, 3]``. When we write ``L2 = L1`` we do not create a copy of the list, we only copy the pointer. This means that both ``L1`` and ``L2`` point to the same object. Thus, if we modify the list using ``L1.append(4)``, both ``L1`` and ``L2`` will point to the modified list ``[1, 2, 3, 4]``.


For a more detailed explanation see here: https://jakevdp.github.io/WhirlwindTourOfPython/03-semantics-variables.html

In [ ]:
L1 is L2  # L1 and L2 point to the same object

---
>  <font color='teal'> **Quiz**: In the code block above, what happens if you type:
- ``L1 = L1 + [4]`` instead of ``L1.append(4)``?
- ``L1[0] = 100`` instead of ``L1.append(4)``?
- ``L2 = L1*2`` instead of ``L2=L1``?

---


><font color = 4e1585>NOTE: Why is this no problem for immutable objects?
>
><font color = 4e1585> *Well, because we can't change them after they are created.*
>>
><font color = 4e1585>REMINDER: The object is what is stored in the memory and not the variable that points to it. If I type ``x=5`` and then ``x=7``, I am not changing the object (``5``), but creating a new one (``7``) and telling Python it should use the variable ``x`` to point to that new object. This is why changing ``x`` in the following example will not change ``y``:
>
>```python
>x = 5
>y = x
>x = x+3 # This does not change the object that y points to; it changes x so
>        # that it points to a different object (an integer object equal to 8).
>        # Therefore, y will still point to 5.

But what if we wanted to **create a new object** and not just another pointer to the same object?

In [ ]:
import copy             # We have to use the copy module

L1 = [1, 2, 3]
L2 = copy.deepcopy(L1)  # Make a "deep" copy of L1

L1.append(4)            # Append an element to L1
print(L1)               # L1 has now 4 elements...
print(L2)               # ...and L2 still has 3

[1, 2, 3, 4]
[1, 2, 3]

In [ ]:
# Another (pragmatic) way to do this would be:
L1 = [1, 2, 3]
L2 = L1*1               # Make a copy by multiplying by 1

L1.append(4)            # Append an element to L1
print(L1)               # L1 has now 4 elements...
print(L2)               # ...and L2 still has 3

[1, 2, 3, 4]
[1, 2, 3]

For more information on copies see here: https://www.programiz.com/python-programming/shallow-deep-copy

## If you feel overwhelmed

Here are some suggestions in case you want to repeat today's topics at your own pace:

* Simple data types and operators: https://www.youtube.com/watch?v=1QDvkkdyGw0 (30 min)
* Data structures:
  - Lists, tuples and sets: https://www.youtube.com/watch?v=NqacT1CjkmQ (29
min)
  - Dictionaries: https://www.youtube.com/watch?v=daefaLgNkw0 (10 min)

## Next week

The next tutorial is about "Control Flow", i.e. about "conditions", "loops" etc.. If you already want to prepare a little, the following videos are recommended:
  * If...else conditions: https://www.youtube.com/watch?v=DZwmZ8Usvnk&list=PL-osiE80TeTskrapNbzXhwoFUiLCjGgY7&index=6 (16 min)
  * For and while loops: https://www.youtube.com/watch?v=6iF8Xb7Z3wQ (10 min)
  * List (set & dict) comprehensions: https://www.youtube.com/watch?v=3dt4OGnU5sM (18 min)

If you prefer to learn with text rather than videos, you can read up a bit on the relevant topics here: https://www.w3schools.com/python/python_intro.asp (If...else, while loops, for loops, list comprehensions (under ``lists``))