*Part 1: Introduction to Python Syntax and Semantics I*
### Python Basics: Built-in object types and operators###
#Exercises#

## 1. Basic excercises

### Simple object types and operators

**Working with numbers**

Create a variable ``lucky_nr`` with the value 7 and a variable ``unlucky_nr`` with the value 13. Subtract 1 from ``lucky_nr`` and multiply ``unlucky_nr`` by 3.

In [ ]:
# Create lucky_nr and unlucky_nr
lucky_nr = 7
unlucky_nr = 13
# Subtract 1 from lucky_nr
lucky_nr -= 1

# Multiply unlucky_nr by 3
unlucky_nr *= 3

Now, add the two resulting variables and assign the resulting value to the variable ``sum_nr``. Print the value and the object type of ``sum_nr``.

In [3]:
# Create sum_nr
sum_nr = lucky_nr + unlucky_nr
# Print content and type of sum_nr
print(sum_nr)
print(type(sum_nr))

45
<class 'int'>

Now create the variable ``magic_nr`` based on the following formula:
${magic\_nr} = \sqrt{\frac{unlucky\_nr}{lucky\_nr}}$

Print the content and the type of the resulting variable.

In [4]:
# create magic_nr
magic_nr = (unlucky_nr / lucky_nr) ** 0.5

# print content and type of magic_nr
print(magic_nr)
print(type(magic_nr))

2.5495097567963922
<class 'float'>

Check if the magic number is ...

*   smaller than 3
*   equal to 2
*   greater or equal to 2.5

(Use ``print()`` to display the result of each check.)

In [5]:
# Print results of each check
print(magic_nr < 3)
print(magic_nr == 2)
print(magic_nr >= 2.5)

True
False
True

What type of objects do these operations return? Write the answer as a comment or try/print it out for one example.

In [ ]:
# answer: boolean

**Working with strings**

Create a string variable called ``sent1`` and assign it the value ``I have found the magic number! `` and a second string called ``sent2`` with the value ``It is: ``. Concatenate the two variables and assign the result to the variable ``text``.

In [10]:
# create sent1 and sent2
sent1 = "I have found the magic number! "
sent2 = "It is: "
# concatenate sent1 and sent2 to variable called text
text = sent1 + sent2

Now try to concatenate the ``text`` variable with the ``magic_nr`` variable so it is printed what the magic number is!

In [11]:
# Print full sentence about the magic number

print(text + str(magic_nr))

I have found the magic number! It is: 2.5495097567963922

(If you want to print less digits, you need to format the number. We will learn how to do this in a later tutorial.)

### Lists

Create a list called my_list with the numbers from 1 to 10. Using indexing or slicing, print...
*   the first element of the list (i.e. 1)
*   the last element of the list (i.e. 10)
*   the last five elements from the list (i.e. 6-10)
*   the numbers 3-7
*   every second element from the list (2,4,6,8,10)
*   the reversed list (10,9,8,7...)
><font color='violet'> Hint: Don't forget to put the print() function around each statement! Otherwise, only the output of the last statement will be printed!

In [19]:
# Create my_list
my_list = [i + 1 for i in range(10)]

# Print different indices/slices
print(my_list[0])
print(my_list[-1])
print(my_list[-5:])
print(my_list[2:7])
print(my_list[1::2])

1
10
[6, 7, 8, 9, 10]
[3, 4, 5, 6, 7]
[2, 4, 6, 8, 10]

Add the element 0 to the list and sort it:

In [20]:
# Add 0
my_list.append(0)

# Sort list
my_list = sorted(my_list)

# Print list (to check if it worked)
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

What is the length of the list (number of elements in the list)? And what is the type of the first element in the list?

In [21]:
# Print length of the list (don't forget the print() function!)
print(len(my_list))

# Type of first list element
print(type(my_list[0]))

11
<class 'int'>

Using my_list, create a list called my_list2 where each element from 0 to 10 is repeated twice (i.e 0,0,1,1,2,2...). Print it out.

In [22]:
# Create my_list2
my_list2 = my_list + my_list

# Print resulting list
print(my_list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Dictionaries

Create a dictionary called my_dict with the name of fruits as the key and their color as the value (apple=red, orange=orange, banana=yellow). Then add the pear (green) to the list and change the color of the apple to green. Print the color of the banana and the entire dictionary.

In [23]:
# Create my_dict
my_dict = {
    "apple" : "red",
    "orange" : "orange",
    "banana" : "yellow"
}

# Add pear
my_dict["pear"] = "green"

# Change value of apple to green
my_dict["apple"] = "green"

# Print color of banana
print(my_dict["banana"])

# Print entire dictionary
print(my_dict)

yellow
{'apple': 'green', 'orange': 'orange', 'banana': 'yellow', 'pear': 'green'}

You would like to remove the banana from your dictionary. We didn't learn how to do this. Try to find out how you can do this (e.g. by Googling it). Check if it worked by printing the final dictionary!

In [24]:
# Remove banana
del my_dict["banana"]
# Print resulting dictionary
print(my_dict)

{'apple': 'green', 'orange': 'orange', 'pear': 'green'}



---

---

---

## 2. Advanced exercises

### Nested lists

Lists can also contain further lists:

In [26]:
nested_list =[[1,2,3], [4,5,6], [7,8,9]]

Try to print the following parts of this nested list:


*   First sub-list (i.e. [1,2,3])
*   Third element of first sub-list (i.e. 3)
*   First two elements of the last sub-list (i.e. [7, 8])

In [ ]:
print(nested_list[0])
print(nested_list[0][2])
print(nested_list[-1][:2])

[1, 2, 3]
3
[7, 8]

### Sets and Tuples

Consider the following list:

In [28]:
A = [2,0,5,0,3,6,8,8,3,4,56,7,56,5,6,7,8,5,5,3,3,5,7,0,3,55,6,2,3]

What is the number of distinct (i.e. unique) elements in A?

In [29]:
print(len(set(A)))

10

Consider the following **tuple**:

In [30]:
my_tuple = (1,3)

How can you assign the first value of the tuple to a variable named A and the second to a variable named B (in one line of code)?

In [31]:
A, B = my_tuple
print(A)
print(B)

1
3

Does this work for other object types (lists, strings, sets, dictionaries) as well? Try it out!

In [ ]:
a, b, c = "abc"
print(a, b, c)

d, e = ["d", "e"]
print(d, e)

f, g = {"f", "g"}
print(f, g)

h, i = {"h" : "h", "i" : "i"}
print(h, i)

# everything seems to work!

a b c
d e
g f
h i

###Mutable objects and pointers

 Create a dictionary called my_dict with the name of fruits as the key and their color as the value (apple=red, orange=orange, banana=yellow) and a variable your_dict that points to that same dictionary. Now, change the value of the apple in your_dict to "green" and observe what happens to my_dict.

In [36]:
# Assign fruit dictionary to my_dict
my_dict = {
    "apple" : "red",
    "orange" : "orange",
    "banana" : "yellow"
}

# Create your_dict (pointing to the same object as my dict)
your_dict = my_dict

# Change value of apple in your_dict
your_dict["apple"] = "green"

# Print out my_dict and your_dict
print(my_dict)
print(your_dict)

{'apple': 'green', 'orange': 'orange', 'banana': 'yellow'}
{'apple': 'green', 'orange': 'orange', 'banana': 'yellow'}

How could you avoid the behavior? Rewrite the code above by making a *true* copy of my_dict (instead of a pointer to the same object).

In [37]:
# Assign fruit dictionary to my_dict
my_dict = {
    "apple" : "red",
    "orange" : "orange",
    "banana" : "yellow"
}

# Create your_dict (pointing to the same object as my dict)
your_dict = my_dict.copy()

# Change value of apple in your_dict
your_dict["apple"] = "green"

# Print out my_dict and your_dict
print(my_dict)
print(your_dict)

{'apple': 'red', 'orange': 'orange', 'banana': 'yellow'}
{'apple': 'green', 'orange': 'orange', 'banana': 'yellow'}