*Part 2: Python for Data Analysis I*
### Introduction to Modules, NumPy and Pandas###
#Exercises#



---


<font color='violet'>
Hints are written in white, so you do not see them immediately. If you highlight them (or double-click on them), they will appear!
<font color='white'> I am a hint! :-)


---

## 1. Basic exercises

### Numpy

**1.1.** Import the numpy module/library.

In [ ]:
# Solution:

**1.2.** Create a numpy array called``arr`` from the list ``[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]`` and print (a) the fifth element, (b) the first 4 elements, and (c) all elements that are not equal to 50.

In [ ]:
# Solution:

Can you add 1 to every element of ``arr``?

In [ ]:
# Solution:

Create a second array ``arr_root`` with the square root of every element from ``arr``.

In [ ]:
# Solution:

**1.3.** Create the following two-dimensional array:
```
array([[0, 1, 2, 3],
       [4, 5, 6, 7]])
```

In [ ]:
# Solution:

Try to access the first element in the array. What type of object do you get?

In [ ]:
# Solution:

Can you think of a way to access the number 7 in the array?

In [ ]:
# Solution:

Check the shape of your array. Can you reshape it so that the dimensions are swapped?

In [ ]:
# Solution:

### Pandas

**1.4.** Import the pandas module/library.

In [ ]:
# Solution:

**1.5.** Try to construct the following pandas dataframe:

|  | sex | birth_year | income |
| :- | -: | -: |-: |
| Paul | m |1965 |10000
| Anna | f| 2005| 0
| Bryan | m | 1991|4600

In [ ]:
# Solution:

Print the income column. What object type is this column?

In [ ]:
# Solution:

Change the income column so that it holds the daily rather than the monthly income. Add a further column ``age`` with the age of each person and print the resulting dataset.

In [ ]:
# Solution:

Anonymize the dataset (so that names of the people do not appear anymore).

In [ ]:
# Solution:

**1.6.** Consider the following dataframe:

In [ ]:
my_data = pd.DataFrame({"sex": ["m", "f", "m", "m", "f"],
                   "birth_year": [1965, 2005, 1991, 1985, 1936],
                   "income": [10000, 0, 4600, 5700, 2600],
                   "years_schooling": [12, 10, 12, 18, 9]},
                   index = ["Paul", "Anna", "Bryan", "Andrea", "Petra"])

Do the following operations using the ``loc[]`` indexer:

1.   Print Petra's birth year
2.   Print sex, income and years of schooling for all persons up to Bryan
3.   Change Andrea's sex to female

In [ ]:
# Solution:

Now do the same using the ``iloc[]`` indexer.

In [ ]:
# Solution:

Print the data for everyone who earns more than 3000. Can you also find a way to only print the income (instead of the entire data) of these people?

><font color='violet'> Hint: <font color='white'> You can use the loc[] indexer for the second part of the excercise.

In [ ]:
# Solution:

## 2. Advanced exercises

**2.1.** Consider the ``my_data`` dataframe we used above. Assign the income column to a variable called ``income``. This variable should point to a pandas series. Change Petra's income in this series to 0 and observe what happens to (Petras's income in) ``my_data``.

In [ ]:
my_data = pd.DataFrame({"sex": ["m", "f", "m", "m", "f"],
                   "birth_year": [1965, 2005, 1991, 1985, 1936],
                   "income": [10000, 0, 4600, 5700, 2600],
                   "years_schooling": [12, 10, 12, 18, 9]},
                   index = ["Paul", "Anna", "Bryan", "Andrea", "Petra"])

In [ ]:
# Solution:

Why does this happen? And how can you avoid this behavoir (and create an ``income`` series that is independent of the ``my_data`` dataset)?

In [ ]:
# Solution: