*Part 2: Python for Data Analysis II*
### Working with Pandas###
#Exercises#



---


<font color='violet'>
Hints are written in white, so you do not see them immediately. If you highlight them (or double-click on them), they will appear!
<font color='white'> I am a hint! :-)


---

In [ ]:
# Your feedback: If you have any suggestions about the course or the excercises,
# you can provide them here!

## 1. Basic exercises

### Data inspection

**1.1.** Import the pandas and the numpy library:

In [3]:
# Solution:
import pandas as pd
import numpy as np
import os

print(os.getcwd())
os.chdir("../4_Data")

c:\Users\Raphael\Documents\unibe\Semester 4\Programming-for-Data-Scientists-II\2_Exercises

**1.2.** In the following folder you will find a dataset called ``countries_trust.csv``: https://drive.google.com/drive/folders/1QnHTDQ0tb8_Ex6dMgNCwqJuL3PxzEKIv?usp=sharing

Import the dataset and assign it to a variable (e.g. ``df``). If you work with Colab, you will first have to copy the file to your Google Drive and then mount the drive (see Tutorial)!

In [4]:
# Solution:
df = pd.read_csv("countries_trust.csv")
print(df)

     Unnamed: 0 country_name country_code  Population       Continent  \
0             0        Aruba          ABW    104000.0  America, North
1             1  Afghanistan          AFG  34414000.0            Asia
2             2       Angola          AGO  27884000.0          Africa
3             3      Albania          ALB   2891000.0          Europe
4             4      Andorra          AND     78000.0          Europe
..          ...          ...          ...         ...             ...
200         200       Zambia          ZMB  15879000.0          Africa
201         201     Zimbabwe          ZWE  13815000.0          Africa
202         202          NaN          NaN         NaN             NaN
203         203          NaN          NaN         NaN             NaN
204         204          NaN          NaN         NaN             NaN

        GNI_Total Income share held by highest 10%  \
0    2.730000e+09                                .
1    2.064840e+10                                .
2    1.260357e+11                                .
3    1.269149e+10                             22.9
4             NaN                                .
..            ...                              ...
200  2.508882e+10                             44.4
201  1.768320e+10                             33.8
202           NaN                              NaN
203           NaN                              NaN
204           NaN                              NaN

     Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Percent)  \
0                                                  NaN
1                                             1.546670
2                                             0.483067
3                                             0.316194
4                                             0.100418
..                                                 ...
200                                           0.839167
201                                           1.002734
202                                                NaN
203                                                NaN
204                                                NaN

     Trust in others (World Values Survey (2014))  \
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
..                                            ...
200                                           NaN
201                                           7.2
202                                           NaN
203                                           NaN
204                                           NaN

     Life satisfaction in Cantril Ladder (World Happiness Report 2020)
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
200                                                NaN
201                                                NaN
202                                                NaN
203                                                NaN
204                                                NaN

[205 rows x 10 columns]

If you didn't succeed in loading the data from Google Drive, you can also load the data from the following URL: ``"http://farys.org/daten/countries_trust.csv"``

In [ ]:
# Solution:

**1.3.** Inspect the head and the tail of the dataset.

In [5]:
# Solution:
df.head()

,Unnamed: 0,country_name,country_code,Population,Continent,GNI_Total,Income share held by highest 10%,Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Percent),Trust in others (World Values Survey (2014)),Life satisfaction in Cantril Ladder (World Happiness Report 2020)
0,0,Aruba,ABW,104000.0,"America, North",2.730000e+09,.,NaN,NaN,NaN
1,1,Afghanistan,AFG,34414000.0,Asia,2.064840e+10,.,1.546670,NaN,NaN
2,2,Angola,AGO,27884000.0,Africa,1.260357e+11,.,0.483067,NaN,NaN
3,3,Albania,ALB,2891000.0,Europe,1.269149e+10,22.9,0.316194,NaN,NaN
4,4,Andorra,AND,78000.0,Europe,NaN,.,0.100418,NaN,NaN

In [6]:
df.tail()

,Unnamed: 0,country_name,country_code,Population,Continent,GNI_Total,Income share held by highest 10%,Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Percent),Trust in others (World Values Survey (2014)),Life satisfaction in Cantril Ladder (World Happiness Report 2020)
200,200,Zambia,ZMB,15879000.0,Africa,2.508882e+10,44.4,0.839167,NaN,NaN
201,201,Zimbabwe,ZWE,13815000.0,Africa,1.768320e+10,33.8,1.002734,7.2,NaN
202,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now, print out summary statistics for the entire dataset.

In [7]:
# Solution:
df.describe()

,Unnamed: 0,Population,GNI_Total,Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Percent),Trust in others (World Values Survey (2014)),Life satisfaction in Cantril Ladder (World Happiness Report 2020)
count,205.000000,2.020000e+02,1.840000e+02,183.000000,55.000000,0.0
mean,102.000000,3.444713e+07,4.069948e+11,1.003950,22.986886,NaN
std,59.322565,1.397181e+08,1.671722e+12,1.427004,16.240575,NaN
min,0.000000,1.000000e+04,5.984000e+07,0.052011,2.833330,NaN
25%,51.000000,7.695000e+05,7.016508e+09,0.216178,10.512175,NaN
50%,102.000000,6.274000e+06,3.135326e+10,0.542178,17.928630,NaN
75%,153.000000,1.947150e+07,1.916302e+11,1.079500,32.880600,NaN
max,204.000000,1.406848e+09,1.820983e+13,9.343013,66.175700,NaN

Print the dataypes of the columns.

In [8]:
# Solution:
print(df.dtypes)

Unnamed: 0                                                                 int64
country_name                                                              object
country_code                                                              object
Population                                                               float64
Continent                                                                 object
GNI_Total                                                                float64
Income share held by highest 10%                                          object
Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Percent)    float64
Trust in others (World Values Survey (2014))                             float64
Life satisfaction in Cantril Ladder (World Happiness Report 2020)        float64
dtype: object

### Repetition: Indexing and filtering

**1.4.** Print out the following:
* First observation of the last column
* Population and GNI for the first 5 observations
* All observations with population lower than 30000
* Country name and population for all observations in continent "Oceania".

In [10]:
# Solution:
print(df.iloc[0, -1])

nan

In [17]:
print(df[["Population", "GNI_Total"]].iloc[range(5)])

   Population     GNI_Total
0    104000.0  2.730000e+09
1  34414000.0  2.064840e+10
2  27884000.0  1.260357e+11
3   2891000.0  1.269149e+10
4     78000.0           NaN

In [18]:
print(df[df["Population"] < 30000])

     Unnamed: 0            country_name country_code  Population  \
136         136                   Nauru          NRU     10000.0
143         143                   Palau          PLW     18000.0
186         186                  Tuvalu          TUV     11000.0
194         194  British Virgin Islands          VGB     29000.0

         Continent    GNI_Total Income share held by highest 10%  \
136        Oceania  113900000.0                                .
143        Oceania  285480000.0                                .
186        Oceania   59840000.0                             30.7
194  North America          NaN                                .

     Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Percent)  \
136                                                NaN
143                                                NaN
186                                                NaN
194                                                NaN

     Trust in others (World Values Survey (2014))  \
136                                           NaN
143                                           NaN
186                                           NaN
194                                           NaN

     Life satisfaction in Cantril Ladder (World Happiness Report 2020)
136                                                NaN
143                                                NaN
186                                                NaN
194                                                NaN

In [ ]:
print(df.loc[df["Continent"] == "Oceania", ["country_name", "Population"]])

                 country_name  Population
8              American Samoa     56000.0
10                  Australia  23932000.0
58                       Fiji    869000.0
73                       Guam    162000.0
94                   Kiribati    111000.0
115          Marshall Islands     57000.0
122  Northern Mariana Islands     56000.0
129             New Caledonia    271000.0
136                     Nauru     10000.0
137               New Zealand   4615000.0
143                     Palau     18000.0
144          Papua New Guinea   8108000.0
150          French Polynesia    273000.0
159           Solomon Islands    603000.0
182                     Tonga    101000.0
186                    Tuvalu     11000.0
197                   Vanuatu    271000.0
198                     Samoa    194000.0

### Data cleaning

**1.5.** Now clean the column indices doing the following:


*   Replace the very long column names with shorter ones (e.g. ``top10_share``, ``homicide``, ``trust``, ``life_satisfaction``).
*   Convert all column names to lowercase

In [ ]:
# Solution:

     Unnamed: 0 country_name country_code  Population       Continent  \
0             0        Aruba          ABW    104000.0  America, North
1             1  Afghanistan          AFG  34414000.0            Asia
2             2       Angola          AGO  27884000.0          Africa
3             3      Albania          ALB   2891000.0          Europe
4             4      Andorra          AND     78000.0          Europe
..          ...          ...          ...         ...             ...
200         200       Zambia          ZMB  15879000.0          Africa
201         201     Zimbabwe          ZWE  13815000.0          Africa
202         202          NaN          NaN         NaN             NaN
203         203          NaN          NaN         NaN             NaN
204         204          NaN          NaN         NaN             NaN

        GNI_Total Income share held by highest 10%  \
0    2.730000e+09                                .
1    2.064840e+10                                .
2    1.260357e+11                                .
3    1.269149e+10                             22.9
4             NaN                                .
..            ...                              ...
200  2.508882e+10                             44.4
201  1.768320e+10                             33.8
202           NaN                              NaN
203           NaN                              NaN
204           NaN                              NaN

     Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Percent)  \
0                                                  NaN
1                                             1.546670
2                                             0.483067
3                                             0.316194
4                                             0.100418
..                                                 ...
200                                           0.839167
201                                           1.002734
202                                                NaN
203                                                NaN
204                                                NaN

     Trust in others (World Values Survey (2014))  \
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
..                                            ...
200                                           NaN
201                                           7.2
202                                           NaN
203                                           NaN
204                                           NaN

     Life satisfaction in Cantril Ladder (World Happiness Report 2020)
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
200                                                NaN
201                                                NaN
202                                                NaN
203                                                NaN
204                                                NaN

[205 rows x 10 columns]

**1.6.** Set the ``country_code`` column as the index.

In [ ]:
# Solution:

**1.7.** Drop the redundant column(s).

In [ ]:
# Solution:

**1.8.** Print the minimum, the average, and the maximum value for the homicide variable (percentage of violent deaths among all deaths). How do you interpret these results?

In [ ]:
# Solution:

**1.9.** Can you sort the data to find out what country has (a) the lowest and (b) the highest share of homicides? <font color='violet'> Hint: <font color='white'> The sort_values function has a parameter that allows you to specify whether the data should be sorted in descending or in ascending order.

In [ ]:
# Solution:

In [ ]:
# Solution:

**1.10.** Take a look at the categories of the ``continent`` column  and try to clean this column. How many observations do we have for each continent?

In [ ]:
# Solution:

**1.11.** Find out how missing values in the ``top10_share`` variable were coded and convert them to proper missings. Recast the variable to a float so you can compute the top 10 income share of the median country.

In [ ]:
# Solution:

Drop columns and rows with nothing but missing values.

In [ ]:
# Solution:

Can you print the share of missing values for each variable/column?

In [ ]:
# Solution:

**1.12.** Now try to create a dataset called ``trust_df`` that contains only those observations where the trust value is not missing.

In [ ]:
# Solution:

**1.13.** Add a new variable (to the main dataset, not to ``trust_df``) called ``gni_per_capita`` with the per capita gross national income.

In [ ]:
# Solution:

**1.14.** Export the cleaned dataset as a csv-file to your computer or your Google Drive.

In [ ]:
# Solution:

## 2. Advanced exercises

**2.1.** Now add a column called ``inequality``. Its values should be either "low" or "high" depending on whether the top 10 income share of the country is above or below ``28.8`` (the median). Try to solve the task by writting a function that you can then use in ``apply()``. In your function, make sure that missing inequality values are handled correctly!

In [ ]:
# Solution:

Can you find an easier way to do this (i.e. to cut a variable at the median)? Finding the right function, it can be done in one line of code! <font color='violet'> Hint: <font color='white'>Search for something like "make quantiles pandas"!

In [ ]:
# Solution:

**2.2.** Create a column ``log_gni_pc`` with the log of the per capita gross national income.

In [ ]:
# Solution:

**2.3.** Suppose you have some duplicate values in your dataset. Run the following code to create them:

In [ ]:
new_df = pd.DataFrame(np.repeat(df.values, 2, axis=0))
new_df.columns = df.columns
new_df.head()

Can you find a method or function that allows you to get rid of the duplicates in ``new_df``?

In [ ]:
# Solution:

**2.4.** You may also encounter a different type of duplicates. Run the following code to create them:

In [ ]:
NA_df = df.copy().reset_index()
NA_df.loc[:,"population":] = np.NaN
new_df = new_df.append(NA_df)
new_df.sort_values("country_name", inplace=True)
new_df.head(6)

The repeated observations are only duplicates with respect to the country name (and NaN in all other variables). Can you find a way to delete them (making sure that the observations with the NaNs are deleted)?

In [ ]:
# Solution: