*Part 2: Python for Data Analysis II*
### Working with Pandas###
#Exercises#



---


<font color='violet'>
Hints are written in white, so you do not see them immediately. If you highlight them (or double-click on them), they will appear!
<font color='white'> I am a hint! :-)


---

In [129]:
# Your feedback: If you have any suggestions about the course or the excercises,
# you can provide them here!

## 1. Basic exercises

### Data inspection

**1.1.** Import the pandas and the numpy library:

In [130]:
# Solution:
%pip install pandas numpy
import pandas as pd
import numpy as np
import os

print(os.getcwd())
os.chdir("../4_Data")

Requirement already satisfied: pandas in c:\users\raphael keller\appdata\local\programs\python\python310\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\raphael keller\appdata\local\programs\python\python310\lib\site-packages (2.2.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\raphael keller\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\raphael keller\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\raphael keller\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in c:\users\raphael keller\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
c:\Users\Raphael Keller\Documents\Uni Bern\FS25\Programming-for-Data-Scientists-II\4_Data

[notice] A new release of pip available: 22.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

**1.2.** In the following folder you will find a dataset called ``countries_trust.csv``: https://drive.google.com/drive/folders/1QnHTDQ0tb8_Ex6dMgNCwqJuL3PxzEKIv?usp=sharing

Import the dataset and assign it to a variable (e.g. ``df``). If you work with Colab, you will first have to copy the file to your Google Drive and then mount the drive (see Tutorial)!

In [131]:
# Solution:
df = pd.read_csv("countries_trust.csv")
print(df)

     Unnamed: 0 country_name country_code  Population       Continent  \
0             0        Aruba          ABW    104000.0  America, North
1             1  Afghanistan          AFG  34414000.0            Asia
2             2       Angola          AGO  27884000.0          Africa
3             3      Albania          ALB   2891000.0          Europe
4             4      Andorra          AND     78000.0          Europe
..          ...          ...          ...         ...             ...
200         200       Zambia          ZMB  15879000.0          Africa
201         201     Zimbabwe          ZWE  13815000.0          Africa
202         202          NaN          NaN         NaN             NaN
203         203          NaN          NaN         NaN             NaN
204         204          NaN          NaN         NaN             NaN

        GNI_Total Income share held by highest 10%  \
0    2.730000e+09                                .
1    2.064840e+10                                .
2    1.260357e+11                                .
3    1.269149e+10                             22.9
4             NaN                                .
..            ...                              ...
200  2.508882e+10                             44.4
201  1.768320e+10                             33.8
202           NaN                              NaN
203           NaN                              NaN
204           NaN                              NaN

     Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Percent)  \
0                                                  NaN
1                                             1.546670
2                                             0.483067
3                                             0.316194
4                                             0.100418
..                                                 ...
200                                           0.839167
201                                           1.002734
202                                                NaN
203                                                NaN
204                                                NaN

     Trust in others (World Values Survey (2014))  \
0                                             NaN
1                                             NaN
2                                             NaN
3                                             NaN
4                                             NaN
..                                            ...
200                                           NaN
201                                           7.2
202                                           NaN
203                                           NaN
204                                           NaN

     Life satisfaction in Cantril Ladder (World Happiness Report 2020)
0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
200                                                NaN
201                                                NaN
202                                                NaN
203                                                NaN
204                                                NaN

[205 rows x 10 columns]

If you didn't succeed in loading the data from Google Drive, you can also load the data from the following URL: ``"http://farys.org/daten/countries_trust.csv"``

In [132]:
# Solution:

**1.3.** Inspect the head and the tail of the dataset.

In [133]:
# Solution:
df.head()

,Unnamed: 0,country_name,country_code,Population,Continent,GNI_Total,Income share held by highest 10%,Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Percent),Trust in others (World Values Survey (2014)),Life satisfaction in Cantril Ladder (World Happiness Report 2020)
0,0,Aruba,ABW,104000.0,"America, North",2.730000e+09,.,NaN,NaN,NaN
1,1,Afghanistan,AFG,34414000.0,Asia,2.064840e+10,.,1.546670,NaN,NaN
2,2,Angola,AGO,27884000.0,Africa,1.260357e+11,.,0.483067,NaN,NaN
3,3,Albania,ALB,2891000.0,Europe,1.269149e+10,22.9,0.316194,NaN,NaN
4,4,Andorra,AND,78000.0,Europe,NaN,.,0.100418,NaN,NaN

In [134]:
df.tail()

,Unnamed: 0,country_name,country_code,Population,Continent,GNI_Total,Income share held by highest 10%,Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Percent),Trust in others (World Values Survey (2014)),Life satisfaction in Cantril Ladder (World Happiness Report 2020)
200,200,Zambia,ZMB,15879000.0,Africa,2.508882e+10,44.4,0.839167,NaN,NaN
201,201,Zimbabwe,ZWE,13815000.0,Africa,1.768320e+10,33.8,1.002734,7.2,NaN
202,202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now, print out summary statistics for the entire dataset.

In [135]:
# Solution:
df.describe()

,Unnamed: 0,Population,GNI_Total,Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Percent),Trust in others (World Values Survey (2014)),Life satisfaction in Cantril Ladder (World Happiness Report 2020)
count,205.000000,2.020000e+02,1.840000e+02,183.000000,55.000000,0.0
mean,102.000000,3.444713e+07,4.069948e+11,1.003950,22.986886,NaN
std,59.322565,1.397181e+08,1.671722e+12,1.427004,16.240575,NaN
min,0.000000,1.000000e+04,5.984000e+07,0.052011,2.833330,NaN
25%,51.000000,7.695000e+05,7.016508e+09,0.216178,10.512175,NaN
50%,102.000000,6.274000e+06,3.135326e+10,0.542178,17.928630,NaN
75%,153.000000,1.947150e+07,1.916302e+11,1.079500,32.880600,NaN
max,204.000000,1.406848e+09,1.820983e+13,9.343013,66.175700,NaN

Print the dataypes of the columns.

In [136]:
# Solution:
print(df.dtypes)

Unnamed: 0                                                                 int64
country_name                                                              object
country_code                                                              object
Population                                                               float64
Continent                                                                 object
GNI_Total                                                                float64
Income share held by highest 10%                                          object
Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Percent)    float64
Trust in others (World Values Survey (2014))                             float64
Life satisfaction in Cantril Ladder (World Happiness Report 2020)        float64
dtype: object

### Repetition: Indexing and filtering

**1.4.** Print out the following:
* First observation of the last column
* Population and GNI for the first 5 observations
* All observations with population lower than 30000
* Country name and population for all observations in continent "Oceania".

In [137]:
# Solution:
print(df.iloc[0, -1])

nan

In [138]:

print(df.loc[range(5), ["Population", "GNI_Total"]])

   Population     GNI_Total
0    104000.0  2.730000e+09
1  34414000.0  2.064840e+10
2  27884000.0  1.260357e+11
3   2891000.0  1.269149e+10
4     78000.0           NaN

In [139]:
print(df[df["Population"] < 30000])

     Unnamed: 0            country_name country_code  Population  \
136         136                   Nauru          NRU     10000.0
143         143                   Palau          PLW     18000.0
186         186                  Tuvalu          TUV     11000.0
194         194  British Virgin Islands          VGB     29000.0

         Continent    GNI_Total Income share held by highest 10%  \
136        Oceania  113900000.0                                .
143        Oceania  285480000.0                                .
186        Oceania   59840000.0                             30.7
194  North America          NaN                                .

     Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Percent)  \
136                                                NaN
143                                                NaN
186                                                NaN
194                                                NaN

     Trust in others (World Values Survey (2014))  \
136                                           NaN
143                                           NaN
186                                           NaN
194                                           NaN

     Life satisfaction in Cantril Ladder (World Happiness Report 2020)
136                                                NaN
143                                                NaN
186                                                NaN
194                                                NaN

In [140]:
print(df.loc[df["Continent"] == "Oceania", ["country_name", "Population"]])

                 country_name  Population
8              American Samoa     56000.0
10                  Australia  23932000.0
58                       Fiji    869000.0
73                       Guam    162000.0
94                   Kiribati    111000.0
115          Marshall Islands     57000.0
122  Northern Mariana Islands     56000.0
129             New Caledonia    271000.0
136                     Nauru     10000.0
137               New Zealand   4615000.0
143                     Palau     18000.0
144          Papua New Guinea   8108000.0
150          French Polynesia    273000.0
159           Solomon Islands    603000.0
182                     Tonga    101000.0
186                    Tuvalu     11000.0
197                   Vanuatu    271000.0
198                     Samoa    194000.0

### Data cleaning

**1.5.** Now clean the column indices doing the following:


*   Replace the very long column names with shorter ones (e.g. ``top10_share``, ``homicide``, ``trust``, ``life_satisfaction``).
*   Convert all column names to lowercase

In [141]:
# Solution:
df.columns = df.columns.str.lower()
print(df.columns)

Index(['unnamed: 0', 'country_name', 'country_code', 'population', 'continent',
       'gni_total', 'income share held by highest 10%',
       'deaths - interpersonal violence - sex: both - age: all ages (percent)',
       'trust in others (world values survey (2014))',
       'life satisfaction in cantril ladder (world happiness report 2020)'],
      dtype='object')

In [142]:
d = {
    "income share held by highest 10%" : "top10_share",
    "deaths - interpersonal violence - sex: both - age: all ages (percent)" : "deaths_violence",
    "trust in others (world values survey (2014))" : "trust",
    "life satisfaction in cantril ladder (world happiness report 2020)" : "life_satisfaction"
}
df.rename(
    columns=d,
    inplace=True
)
print(df.columns)

Index(['unnamed: 0', 'country_name', 'country_code', 'population', 'continent',
       'gni_total', 'top10_share', 'deaths_violence', 'trust',
       'life_satisfaction'],
      dtype='object')

**1.6.** Set the ``country_code`` column as the index.

In [143]:
# Solution:
df.set_index("country_code", inplace=True)
print(df)

              unnamed: 0 country_name  population       continent  \
country_code
ABW                    0        Aruba    104000.0  America, North
AFG                    1  Afghanistan  34414000.0            Asia
AGO                    2       Angola  27884000.0          Africa
ALB                    3      Albania   2891000.0          Europe
AND                    4      Andorra     78000.0          Europe
...                  ...          ...         ...             ...
ZMB                  200       Zambia  15879000.0          Africa
ZWE                  201     Zimbabwe  13815000.0          Africa
NaN                  202          NaN         NaN             NaN
NaN                  203          NaN         NaN             NaN
NaN                  204          NaN         NaN             NaN

                 gni_total top10_share  deaths_violence  trust  \
country_code
ABW           2.730000e+09           .              NaN    NaN
AFG           2.064840e+10           .         1.546670    NaN
AGO           1.260357e+11           .         0.483067    NaN
ALB           1.269149e+10        22.9         0.316194    NaN
AND                    NaN           .         0.100418    NaN
...                    ...         ...              ...    ...
ZMB           2.508882e+10        44.4         0.839167    NaN
ZWE           1.768320e+10        33.8         1.002734    7.2
NaN                    NaN         NaN              NaN    NaN
NaN                    NaN         NaN              NaN    NaN
NaN                    NaN         NaN              NaN    NaN

              life_satisfaction
country_code
ABW                         NaN
AFG                         NaN
AGO                         NaN
ALB                         NaN
AND                         NaN
...                         ...
ZMB                         NaN
ZWE                         NaN
NaN                         NaN
NaN                         NaN
NaN                         NaN

[205 rows x 9 columns]

**1.7.** Drop the redundant column(s).

In [144]:
# Solution:
df.drop("unnamed: 0", axis=1, inplace=True)
print(df.columns)

Index(['country_name', 'population', 'continent', 'gni_total', 'top10_share',
       'deaths_violence', 'trust', 'life_satisfaction'],
      dtype='object')

**1.8.** Print the minimum, the average, and the maximum value for the homicide variable (percentage of violent deaths among all deaths). How do you interpret these results?

In [145]:
# Solution:
print(df["deaths_violence"].agg(["min", "mean", "max"]))

# an average of 1 percent of the population dies from interpersonal violence
# the minimum percentage found in a country is .5 percent
# the maximum percentage found in a country is 9.3 percent

min     0.052011
mean    1.003950
max     9.343013
Name: deaths_violence, dtype: float64

**1.9.** Can you sort the data to find out what country has (a) the lowest and (b) the highest share of homicides? <font color='violet'> Hint: <font color='white'> The sort_values function has a parameter that allows you to specify whether the data should be sorted in descending or in ascending order.

In [146]:
# Solution:
print(df.sort_values("deaths_violence"))

                        country_name   population      continent  \
country_code
JPN                            Japan  127985000.0           Asia
GBR                   United Kingdom   65860000.0         Europe
DEU                          Germany   81787000.0         Europe
ITA                            Italy   60578000.0         Europe
BDI                          Burundi   10160000.0         Africa
...                              ...          ...            ...
TUV                           Tuvalu      11000.0        Oceania
VGB           British Virgin Islands      29000.0  North America
NaN                              NaN          NaN            NaN
NaN                              NaN          NaN            NaN
NaN                              NaN          NaN            NaN

                 gni_total top10_share  deaths_violence     trust  \
country_code
JPN           4.970937e+12           .         0.052011  35.93942
GBR           2.920891e+12        26.2         0.058398       NaN
DEU           3.746662e+12        24.9         0.070517  42.03041
ITA           1.997862e+12        25.5         0.075398       NaN
BDI           2.641600e+09        31.3         0.076084       NaN
...                    ...         ...              ...       ...
TUV           5.984000e+07        30.7              NaN       NaN
VGB                    NaN           .              NaN       NaN
NaN                    NaN         NaN              NaN       NaN
NaN                    NaN         NaN              NaN       NaN
NaN                    NaN         NaN              NaN       NaN

              life_satisfaction
country_code
JPN                         NaN
GBR                         NaN
DEU                         NaN
ITA                         NaN
BDI                         NaN
...                         ...
TUV                         NaN
VGB                         NaN
NaN                         NaN
NaN                         NaN
NaN                         NaN

[205 rows x 8 columns]

In [147]:
# Solution:
print(df.sort_values("deaths_violence", ascending=False))

                        country_name   population       continent  \
country_code
HND                         Honduras    9113000.0   North America
SLV                      El Salvador    6325000.0   North America
GTM                        Guatemala   16252000.0   North America
COL                         Colombia   47521000.0  America, South
MEX                           Mexico  121858000.0  America, North
...                              ...          ...             ...
TUV                           Tuvalu      11000.0         Oceania
VGB           British Virgin Islands      29000.0   North America
NaN                              NaN          NaN             NaN
NaN                              NaN          NaN             NaN
NaN                              NaN          NaN             NaN

                 gni_total top10_share  deaths_violence     trust  \
country_code
HND           1.877278e+10        37.8         9.343013       NaN
SLV           2.175800e+10        32.0         8.306099       NaN
GTM           6.013240e+10        38.4         6.949676       NaN
COL           3.483289e+11        39.6         6.423809   4.12783
MEX           1.238077e+12        39.7         6.067700  12.40620
...                    ...         ...              ...       ...
TUV           5.984000e+07        30.7              NaN       NaN
VGB                    NaN           .              NaN       NaN
NaN                    NaN         NaN              NaN       NaN
NaN                    NaN         NaN              NaN       NaN
NaN                    NaN         NaN              NaN       NaN

              life_satisfaction
country_code
HND                         NaN
SLV                         NaN
GTM                         NaN
COL                         NaN
MEX                         NaN
...                         ...
TUV                         NaN
VGB                         NaN
NaN                         NaN
NaN                         NaN
NaN                         NaN

[205 rows x 8 columns]

**1.10.** Take a look at the categories of the ``continent`` column  and try to clean this column. How many observations do we have for each continent?

In [148]:
# Solution:
print(df["continent"].value_counts())

replacers = {
    "America, North" : "North America",
    "America, South" : "South America",
}
df["continent"].replace(replacers, inplace=True)
print(df["continent"].value_counts())

continent
Africa            50
Europe            47
Asia              43
America, North    22
Oceania           18
North America     11
America, South     7
South America      4
Name: count, dtype: int64
continent
Africa           50
Europe           47
Asia             43
North America    33
Oceania          18
South America    11
Name: count, dtype: int64

C:\Users\Raphael Keller\AppData\Local\Temp\ipykernel_20012\3000259275.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["continent"].replace(replacers, inplace=True)

**1.11.** Find out how missing values in the ``top10_share`` variable were coded and convert them to proper missings. Recast the variable to a float so you can compute the top 10 income share of the median country.

In [149]:
# Solution:
print(df["top10_share"])
print()
df.loc[df["top10_share"] == ".", "top10_share"] = np.nan
df["top10_share"] = df["top10_share"].astype(float)
print(df["top10_share"])
print()
print(df["top10_share"].median()) # 28.8

country_code
ABW       .
AFG       .
AGO       .
ALB    22.9
AND       .
       ...
ZMB    44.4
ZWE    33.8
NaN     NaN
NaN     NaN
NaN     NaN
Name: top10_share, Length: 205, dtype: object

country_code
ABW     NaN
AFG     NaN
AGO     NaN
ALB    22.9
AND     NaN
       ...
ZMB    44.4
ZWE    33.8
NaN     NaN
NaN     NaN
NaN     NaN
Name: top10_share, Length: 205, dtype: float64

28.8

Drop columns and rows with nothing but missing values.

In [150]:
# Solution:
df.dropna(how="all", axis=0, inplace=True)
df.dropna(how="all", axis=1, inplace=True)
print(df)

              country_name  population      continent     gni_total  \
country_code
ABW                  Aruba    104000.0  North America  2.730000e+09
AFG            Afghanistan  34414000.0           Asia  2.064840e+10
AGO                 Angola  27884000.0         Africa  1.260357e+11
ALB                Albania   2891000.0         Europe  1.269149e+10
AND                Andorra     78000.0         Europe           NaN
...                    ...         ...            ...           ...
VUT                Vanuatu    271000.0        Oceania  7.886100e+08
WSM                  Samoa    194000.0        Oceania  7.682400e+08
ZAF           South Africa  55386000.0         Africa  3.350853e+11
ZMB                 Zambia  15879000.0         Africa  2.508882e+10
ZWE               Zimbabwe  13815000.0         Africa  1.768320e+10

              top10_share  deaths_violence     trust
country_code
ABW                   NaN              NaN       NaN
AFG                   NaN         1.546670       NaN
AGO                   NaN         0.483067       NaN
ALB                  22.9         0.316194       NaN
AND                   NaN         0.100418       NaN
...                   ...              ...       ...
VUT                  29.1         0.213722       NaN
WSM                   NaN         0.565338       NaN
ZAF                  51.3         3.304199  23.50609
ZMB                  44.4         0.839167       NaN
ZWE                  33.8         1.002734   7.20000

[202 rows x 7 columns]

Can you print the share of missing values for each variable/column?

In [151]:
# Solution:
print(df.isna().mean())

country_name       0.000000
population         0.000000
continent          0.000000
gni_total          0.089109
top10_share        0.400990
deaths_violence    0.094059
trust              0.727723
dtype: float64

**1.12.** Now try to create a dataset called ``trust_df`` that contains only those observations where the trust value is not missing.

In [152]:
# Solution:
trust_df = df[df.notna()["trust"]]
print(trust_df)

                     country_name    population      continent     gni_total  \
country_code
ARG                     Argentina  4.307500e+07  South America  5.414528e+11
ARM                       Armenia  2.926000e+06           Asia  1.173326e+10
AUS                     Australia  2.393200e+07        Oceania  1.447886e+12
AZE                    Azerbaijan  9.623000e+06           Asia  6.322311e+10
BHR                       Bahrain  1.372000e+06           Asia  3.097976e+10
BLR                       Belarus  9.439000e+06         Europe  6.333569e+10
BRA                        Brazil  2.044720e+08  South America  2.083570e+12
CHL                         Chile  1.796900e+07  South America  2.539020e+11
CHN                         China  1.406848e+09           Asia  1.117037e+13
COL                      Colombia  4.752100e+07  South America  3.483289e+11
CYP                        Cyprus  1.161000e+06         Europe  3.013956e+10
DEU                       Germany  8.178700e+07         Europe  3.746662e+12
DZA                       Algeria  3.972800e+07         Africa  1.926808e+11
ECU                       Ecuador  1.621200e+07  South America  9.678564e+10
ESP                         Spain  4.667200e+07         Europe  1.326885e+12
EST                       Estonia  1.315000e+06         Europe  2.456420e+10
GEO                       Georgia  4.024000e+06           Asia  1.774584e+10
GHA                         Ghana  2.784900e+07         Africa  5.402706e+10
IND                         India  1.310152e+09           Asia  2.096243e+12
IRQ                          Iraq  3.557200e+07           Asia  2.109420e+11
JOR                        Jordan  9.267000e+06           Asia  3.660465e+10
JPN                         Japan  1.279850e+08           Asia  4.970937e+12
KAZ                    Kazakhstan  1.757200e+07           Asia  1.999694e+11
KGZ               Kyrgyz Republic  5.959000e+06           Asia  7.031620e+09
KWT                        Kuwait  3.836000e+06           Asia  1.604215e+11
LBN                       Lebanon  6.533000e+06           Asia  4.756024e+10
LBY                         Libya  6.418000e+06         Africa  3.651842e+10
MAR                       Morocco  3.466400e+07         Africa  1.046853e+11
MEX                        Mexico  1.218580e+08  North America  1.238077e+12
MYS                      Malaysia  3.027100e+07           Asia  3.232943e+11
NGA                       Nigeria  1.811370e+08         Africa  5.108063e+11
NLD                   Netherlands  1.693800e+07         Europe  8.436818e+11
NZL                   New Zealand  4.615000e+06        Oceania  1.875536e+11
PAK                      Pakistan  1.994270e+08           Asia  2.512780e+11
PER                          Peru  3.047100e+07  South America  1.931861e+11
PHL                   Philippines  1.021130e+08           Asia  3.451419e+11
POL                        Poland  3.803400e+07         Europe  5.062325e+11
PSE            West Bank and Gaza  4.529000e+06           Asia  1.662143e+10
QAT                         Qatar  2.566000e+06           Asia  1.884470e+11
ROU                       Romania  1.992500e+07         Europe  1.912800e+11
RUS            Russian Federation  1.449850e+08         Europe  1.707923e+12
RWA                        Rwanda  1.136900e+07         Africa  8.526750e+09
SGP                     Singapore  5.592000e+06           Asia  2.972707e+11
SVN                      Slovenia  2.071000e+06         Europe  4.607975e+10
SWE                        Sweden  9.765000e+06         Europe  5.704713e+11
THA                      Thailand  6.871500e+07           Asia  3.923626e+11
TTO           Trinidad and Tobago  1.370000e+06  North America  2.600260e+10
TUN                       Tunisia  1.118000e+07         Africa  4.427280e+10
TUR                        Turkey  7.852900e+07           Asia  9.447039e+11
UKR                       Ukraine  4.492200e+07         Europe  1.212894e+11
URY                       Uruguay  3.412000e+06  South America  5.336368e+10
USA                 United States  3.208780e+08  North America  1.820983e+13
UZB                    Uzbekistan  3.093000e+07           Asia  8.041800e+10
ZAF                  South Africa  5.538600e+07         Africa  3.350853e+11
ZWE                      Zimbabwe  1.381500e+07         Africa  1.768320e+10

              top10_share  deaths_violence     trust
country_code
ARG                  30.8         0.821761  22.64706
ARM                  26.7         0.394907  10.01821
AUS                  26.5         0.191535  54.43383
AZE                   NaN         0.495191  16.16766
BHR                   NaN         0.630370  33.50000
BLR                  22.2         0.535968  32.80737
BRA                  40.5         4.730778   6.52759
CHL                  38.0         0.711244  12.64016
CHN                  31.4         0.139078  62.69384
COL                  39.6         6.423809   4.12783
CYP                  28.8         0.263152   9.02708
DEU                  24.9         0.070517  42.03041
DZA                  22.9         0.261175  17.92863
ECU                  35.8         2.649495   7.16070
ESP                  26.0         0.079577  19.01944
EST                  26.2         0.386881  38.51175
GEO                  28.9         0.280135   8.81864
GHA                  31.6         0.446959   4.96134
IND                  29.8         0.422305  32.95383
IRQ                  23.7         1.612183  30.00000
JOR                  27.5         1.008700  13.25000
JPN                   NaN         0.052011  35.93942
KAZ                  22.3         1.131859  38.80000
KGZ                  24.8         0.791024  37.72538
KWT                   NaN         0.497972  29.15361
LBN                  24.8         1.132690   9.83333
LBY                   NaN         0.477222  11.00614
MAR                   NaN         0.185544  12.44743
MEX                  39.7         6.067700  12.40620
MYS                   NaN         0.364997   8.53846
NGA                   NaN         0.449691  14.78113
NLD                  23.3         0.096024  66.17570
NZL                   NaN         0.182806  56.22733
PAK                  26.0         0.658232  23.54949
PER                  33.4         0.836362   8.21577
PHL                  31.3         2.381834   2.83333
POL                  25.2         0.168876  22.25673
PSE                  27.2         1.797593  15.80000
QAT                   NaN         0.570920  21.41510
ROU                  21.6         0.155243   7.07138
RUS                  29.7         1.179291  27.73516
RWA                  43.2         0.542178  16.63392
SGP                   NaN         0.130113  38.51626
SVN                  21.1         0.101882  19.98124
SWE                  21.5         0.131038  63.75839
THA                  29.2         0.908847  32.57384
TTO                   NaN         2.783280   3.20320
TUN                  27.0         0.101157  15.51867
TUR                  31.6         0.424796  12.00762
UKR                  21.6         0.652886  23.71274
URY                  30.8         0.625903  14.43515
USA                  30.2         0.695652  38.17277
UZB                   NaN         0.401368  13.92236
ZAF                  51.3         3.304199  23.50609
ZWE                  33.8         1.002734   7.20000

**1.13.** Add a new variable (to the main dataset, not to ``trust_df``) called ``gni_per_capita`` with the per capita gross national income.

In [153]:
# Solution:
df["gni_per_capita"] = df["gni_total"] / df["population"]
print(df["gni_per_capita"])

country_code
ABW    26250.0
AFG      600.0
AGO     4520.0
ALB     4390.0
AND        NaN
        ...
VUT     2910.0
WSM     3960.0
ZAF     6050.0
ZMB     1580.0
ZWE     1280.0
Name: gni_per_capita, Length: 202, dtype: float64

**1.14.** Export the cleaned dataset as a csv-file to your computer or your Google Drive.

In [154]:
# Solution:
df.to_csv("countries_trust_cleaned.csv")

## 2. Advanced exercises

**2.1.** Now add a column called ``inequality``. Its values should be either "low" or "high" depending on whether the top 10 income share of the country is above or below ``28.8`` (the median). Try to solve the task by writting a function that you can then use in ``apply()``. In your function, make sure that missing inequality values are handled correctly!

In [155]:
# Solution:
def det_inequality(x):
    if x < 28.8:
        return "low"
    elif pd.isna(x):  # Handle missing values
        return np.nan
    else:
        return "high"

df["inequality"] = df["top10_share"].apply(det_inequality)
print(df["inequality"])

country_code
ABW     NaN
AFG     NaN
AGO     NaN
ALB     low
AND     NaN
       ...
VUT    high
WSM     NaN
ZAF    high
ZMB    high
ZWE    high
Name: inequality, Length: 202, dtype: object

Can you find an easier way to do this (i.e. to cut a variable at the median)? Finding the right function, it can be done in one line of code! <font color='violet'> Hint: <font color='white'>Search for something like "make quantiles pandas"!

In [156]:
# Solution:
df["inequality_2"] = pd.qcut(df["top10_share"], q=[0, 0.5, 1], labels=["low", "high"], duplicates="drop")
print(df["inequality_2"])

country_code
ABW     NaN
AFG     NaN
AGO     NaN
ALB     low
AND     NaN
       ...
VUT    high
WSM     NaN
ZAF    high
ZMB    high
ZWE    high
Name: inequality_2, Length: 202, dtype: category
Categories (2, object): ['low' < 'high']

**2.2.** Create a column ``log_gni_pc`` with the log of the per capita gross national income.

In [157]:
# Solution:
df["log_gni_pc"] = np.log(df["gni_per_capita"])
print(df["log_gni_pc"])

country_code
ABW    10.175421
AFG     6.396930
AGO     8.416267
ALB     8.387085
AND          NaN
         ...
VUT     7.975908
WSM     8.283999
ZAF     8.707814
ZMB     7.365180
ZWE     7.154615
Name: log_gni_pc, Length: 202, dtype: float64

**2.3.** Suppose you have some duplicate values in your dataset. Run the following code to create them:

In [158]:
new_df = pd.DataFrame(np.repeat(df.values, 2, axis=0))
new_df.columns = df.columns
new_df.head()

,country_name,population,continent,gni_total,top10_share,deaths_violence,trust,gni_per_capita,inequality,inequality_2,log_gni_pc
0,Aruba,104000.0,North America,2730000000.0,NaN,NaN,NaN,26250.0,NaN,NaN,10.175421
1,Aruba,104000.0,North America,2730000000.0,NaN,NaN,NaN,26250.0,NaN,NaN,10.175421
2,Afghanistan,34414000.0,Asia,20648400000.0,NaN,1.54667,NaN,600.0,NaN,NaN,6.39693
3,Afghanistan,34414000.0,Asia,20648400000.0,NaN,1.54667,NaN,600.0,NaN,NaN,6.39693
4,Angola,27884000.0,Africa,126035680000.0,NaN,0.483067,NaN,4520.0,NaN,NaN,8.416267

Can you find a method or function that allows you to get rid of the duplicates in ``new_df``?

In [159]:
# Solution:
# function to get rid of duplicate observations:
df.drop_duplicates(inplace=True)
print(df)

              country_name  population      continent     gni_total  \
country_code
ABW                  Aruba    104000.0  North America  2.730000e+09
AFG            Afghanistan  34414000.0           Asia  2.064840e+10
AGO                 Angola  27884000.0         Africa  1.260357e+11
ALB                Albania   2891000.0         Europe  1.269149e+10
AND                Andorra     78000.0         Europe           NaN
...                    ...         ...            ...           ...
VUT                Vanuatu    271000.0        Oceania  7.886100e+08
WSM                  Samoa    194000.0        Oceania  7.682400e+08
ZAF           South Africa  55386000.0         Africa  3.350853e+11
ZMB                 Zambia  15879000.0         Africa  2.508882e+10
ZWE               Zimbabwe  13815000.0         Africa  1.768320e+10

              top10_share  deaths_violence     trust  gni_per_capita  \
country_code
ABW                   NaN              NaN       NaN         26250.0
AFG                   NaN         1.546670       NaN           600.0
AGO                   NaN         0.483067       NaN          4520.0
ALB                  22.9         0.316194       NaN          4390.0
AND                   NaN         0.100418       NaN             NaN
...                   ...              ...       ...             ...
VUT                  29.1         0.213722       NaN          2910.0
WSM                   NaN         0.565338       NaN          3960.0
ZAF                  51.3         3.304199  23.50609          6050.0
ZMB                  44.4         0.839167       NaN          1580.0
ZWE                  33.8         1.002734   7.20000          1280.0

             inequality inequality_2  log_gni_pc
country_code
ABW                 NaN          NaN   10.175421
AFG                 NaN          NaN    6.396930
AGO                 NaN          NaN    8.416267
ALB                 low          low    8.387085
AND                 NaN          NaN         NaN
...                 ...          ...         ...
VUT                high         high    7.975908
WSM                 NaN          NaN    8.283999
ZAF                high         high    8.707814
ZMB                high         high    7.365180
ZWE                high         high    7.154615

[202 rows x 11 columns]

**2.4.** You may also encounter a different type of duplicates. Run the following code to create them:

In [126]:
NA_df = df.copy().reset_index()
NA_df.loc[:, "population":] = np.nan
new_df = pd.concat([new_df, NA_df], ignore_index=True)
new_df.sort_values("country_name", inplace=True)
new_df.head(6)

,country_name,population,continent,gni_total,top10_share,deaths_violence,trust,gni_per_capita,inequality,inequality_2,log_gni_pc,country_code
405,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AFG
2,Afghanistan,34414000.0,Asia,20648400000.0,NaN,1.54667,NaN,600.0,NaN,NaN,6.39693,NaN
3,Afghanistan,34414000.0,Asia,20648400000.0,NaN,1.54667,NaN,600.0,NaN,NaN,6.39693,NaN
7,Albania,2891000.0,Europe,12691490000.0,22.9,0.316194,NaN,4390.0,low,low,8.387085,NaN
6,Albania,2891000.0,Europe,12691490000.0,22.9,0.316194,NaN,4390.0,low,low,8.387085,NaN
407,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ALB

The repeated observations are only duplicates with respect to the country name (and NaN in all other variables). Can you find a way to delete them (making sure that the observations with the NaNs are deleted)?

In [160]:
# Solution:
new_df.drop_duplicates(subset="country_name", keep="first", inplace=True)
new_df.head(6)

,country_name,population,continent,gni_total,top10_share,deaths_violence,trust,gni_per_capita,inequality,inequality_2,log_gni_pc
0,Aruba,104000.0,North America,2730000000.0,NaN,NaN,NaN,26250.0,NaN,NaN,10.175421
2,Afghanistan,34414000.0,Asia,20648400000.0,NaN,1.54667,NaN,600.0,NaN,NaN,6.39693
4,Angola,27884000.0,Africa,126035680000.0,NaN,0.483067,NaN,4520.0,NaN,NaN,8.416267
6,Albania,2891000.0,Europe,12691490000.0,22.9,0.316194,NaN,4390.0,low,low,8.387085
8,Andorra,78000.0,Europe,NaN,NaN,0.100418,NaN,NaN,NaN,NaN,NaN
10,United Arab Emirates,9263000.0,Asia,397012180000.0,NaN,0.442631,NaN,42860.0,NaN,NaN,10.665694