*Part 4: Working with Text Data*
#String methods and regular expressions
#Exercises#



---


<font color='violet'>
Hints are written in white, so you do not see them immediately. If you highlight them (or double-click on them), they will appear!
<font color='white'> I am a hint! :-)


---

## 1. Basic exercises

### Exercise 1.1

Consider the following string:

In [1]:
my_string = "  THIS string really doesn%27t look GOOD. IT%27s very messy. Try tO cleAn it up!  "

Try to clean it doing the following:
* lower-case all the letters
* remove spaces on the right and on the left
* Insert a ``'`` instead of the ``%27``.

In [5]:
my_string = my_string.strip().lower().replace("%27", "'")
my_string

"this string really doesn't look good. it's very messy. try to clean it up!"

What is the position of the (first) g in the string?

In [6]:
my_string.index("g")

10

Can you create a list of sentences from your string?

In [8]:
sentences = my_string.split(".")
sentences

["this string really doesn't look good",
 " it's very messy",
 ' try to clean it up!']

### Exercise 1.2

Consider the following pandas dataframe with a note about each one of your cats:

In [9]:
import pandas as pd

df = pd.DataFrame(["  My favorite cat",
                   " THE YOUNGEST OF MY CATS...",
                   "Mischievous white cat  ",
                   " Always hungry"],
                  index = ["Sarah",  "Pete", "Mary", "Linny"],
                  columns=["notes"])

df

                             notes
Sarah              My favorite cat
Pete    THE YOUNGEST OF MY CATS...
Mary       Mischievous white cat
Linny                Always hungry

Try to clean the notes doing the following:
* remove spaces on the right and on the left
* remove the dots
* capitalize all notes

In [15]:
df["notes"] = df["notes"].str.strip()
df["notes"] = df["notes"].str.replace(".", "")
df["notes"] = df["notes"].str.capitalize()
df

                         notes
Sarah          My favorite cat
Pete   The youngest of my cats
Mary     Mischievous white cat
Linny            Always hungry

## 2. Advanced exercise

### Exercise 2.1

You created a page with cute cat videos and would like to advertise it via SMS. Many people have their (cell) phone numbers on some websites and you have already written a web crawler that fetches you large amounts of pages from the internet. Now, you only need to extract the phone numbers from this data (excluding non-Swiss phone numbers).

Write a regex that allows you to do this and test it on the following example string:

In [ ]:
phone_test = """ My number is 0774562935. My best friend's number is 079 382 32 84
and my mom's number is 076-843-84-48. And, by the way, my cat also has a
number: (0041) 78 333 66 88. I also have some friends in other countries; their
numbers are 077-345-345-43 and 177 478 11 83, but I forgot the country codes.
Can you retrieve all the valid (Swiss) numbers from this string?"""

Manipulate the numbers so that they all have the following format: ``+41-7#-###-##-##``

### Exercise 2.2

You realize that your advertising campaign is not going very well. It is quite expensive to send all the text messages and as the reponse rate is quite low, the costs may exceed the benefits. You decide to advertise your page via email rather than SMS. Can you extract all valid email addresses from the following string? <font color='violet'> Hint: <font color='white'> Note that if you want to include a "-" in a set, you must put it as the first or the last character in the set (otherwise it will be interpreted as a range). If you want to search for a . (outside a set), you have to escape it using a backslash.

In [ ]:
mail_test = """ @everyone: Contact me by email: thisaddress@hotmail.com. You can also use
 my.other-address@gmx.ch! This is not a valid mail address: abc%@gmail.uk
 as only letters, numbers, and the signs _, ., +, and - are allowed before the @-sign.
 thisaddress@hello is also not valid: After the @ there must be a domain name
 (e.g. hotmail), followed by a . and a top level domain (e.g. com).
 """

### Exercise 2.3

Now let's say you want to advertise your page with all members of the Uni Bern Sociology Team (but please don't). Fetch the URL https://www.soz.unibe.ch/ueber_uns/team_von_a_z/index_ger.html und extract Name, Telefon and E-Mail of all listed persons. Organize them in a pandas df.